%form{:name => "buy", :action => "/buy/#{itemid}", :method => "POST"}
  %input{:type => "submit", :name => "action", :value => "Buy", :class => "button_as_link"}
  - if quantity > 1
    %select{:name => "quantity"}
      - for number in 1..quantity
        %option{:value => number} #{number}
  - else
    %input{:type => "hidden", :name => "quantity", :value => "1"}
