#menu
  %ul
    - if session[:name]
      %li
        %a{:href => url("/"), :class => [@title == "Home" && [:active_tab]]} Home
      %li
        %a{:href => url("/user"), :class => [@title == "All users" && [:active_tab]]} All users
      %li{:class => "#{[(@title == "Add item" or @title == "Add organization") && [:active_tab]]} headlink"}
        %p Add
        %ul
          %li.sublink
            %a{:href => url("/add_item")} Add Item/Request
          %li.sublink
            %a{:href => url("/organization/add")} Add organization
      %li
        %a{:href => url("/search_requests"), :class => [@title == "Subscriptions" && [:active_tab]]} My Subscriptions
      %li
        %a{:href => url("/item_requests"), :class => [@title == "All item requests" && [:active_tab]]} Item Requests
      %li
        %a{:href => url("/logout")} Logout

    - else
      %li
        %a{:href => url("/login"), :class => [@title == "Login" && [:active_tab]]} Login
      %li
        %a{:href => url("/register"), :class => [@title == "Register" && [:active_tab]]} Register