#menu
  %ul
    - if session[:name]
      %li
        %a{:href => url("/"), :class => [@title == "Home" && [:active_tab]]} Home
      //%li
      //  %a{:href => url("/user/#{session[:name]}"), :class => [@title == "User " + session[:name] && [:active_tab]]} Your profile
      %li
        %a{:href => url("/user"), :class => [@title == "All users" && [:active_tab]]} All users
      %li
        %a{:href => url("/add_item"), :class => [@title == "Add item" && [:active_tab]]} Add Item
      %li
        %a{:href => url("/change_password"), :class => [@title == "Change Password" && [:active_tab]]} Change Password
      %li
        %a{:href => url("/search"), :class => [@title == "Search" && [:active_tab]]} Search
      %li
        %a{:href => url("/logout")} Logout
    - else
      %li
        %a{:href => url("/login"), :class => [@title == "Login" && [:active_tab]]} Login
      %li
        %a{:href => url("/register"), :class => [@title == "Register" && [:active_tab]]} Register
      %li
        %a{:href => url("/reset_password"), :class => [@title == "Reset Password" && [:active_tab]]} Reset Password