#search_bar
  %form{:action=>"/search", :method=>"POST", :enctype=>"multipart/form-data"}
    %input.normal_input{:type=>"text", :name=>"keywords"}
    %input.normal_input{:type=>"submit", :name=> "submit", :value => "Search"}