#box
  -if @active_user.nil?
    Not logged in
  - else
    Credits: #{@active_user.credits}
    \|


    %form.inline{:action=>"/work_for", :method=>"POST"}
      %label.inline Working for:
      %select.inline{:onchange => "this.form.submit();", :name=>"work_for"}
        %option{:value=>"myself", :selected => @active_user.working_for.nil?} Myself
        - for organization in @active_user.organizations
          %option{:value=>organization.name, :selected => (organization == @active_user.working_for && !@active_user.working_for.nil?) } #{organization.display_name}

