body {
    background: url(bg_body.png) repeat;
    font-family: Calibri, Verdana, sans-serif;
}

#content {
    padding: 15px;
    position: relative;
    float: left;
    left: 170px;
    width: 600px;
    overflow: visible;
}

#inactive {
    color: #aaa;
}

th {
    text-align: left;
}

.list {
    border-top: dashed 1px #ccc;
}

#error {
    margin-top: 25px;
    background: #f66;
    border: solid 1px #000;
}

#success {
    margin-top: 25px;
    background: #8e8;
    border: solid 1px #000;
}

.right {
    text-align: right;
}

#body {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    position: relative;
}

#logo {
    margin-top: 10px;
    margin-bottom: 10px;
}

#page {
    background-color: #FFF;
    min-height: 500px;
    overflow: auto;
}

#head_entry {
    position: relative;
    padding: 1px;

    vertical-align: bottom;
}

#menu {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: 0;
    float: left;
    width: 150px;
    border-right: 1px solid #23496B;;
    top: 235px;
    bottom:15px;
}

li.menu_entry {
    list-style-type: none;
    list-style-position: outside;
    position: relative;
    border-top: 1px dashed #aaa;
    padding: 1px;
    background-color: #fcfefe;
}

ul.no_indented{
  padding: 0;
}

a, a.visited {
    color: #23496B;
    text-decoration: none;
}

a:hover {
    color: #aaa;
}

h2 {
    color: #23496B;
    margin: 0px;
}

#button {
    background: none;
    border: none;
    color: #23496B;
}

#button:hover {
    color: #aaa;
    cursor: pointer;
}

.center {
    text-align: center;
}


a.tooltip
{
    position:relative;
    z-index:1;
}

a.tooltip:hover
{
    z-index:2;
}

a.tooltip span
{
    display: none;
}

a.tooltip:hover span
{
    display:block;
    position:absolute;
    top:20px;
    left:20px;
    width:250px;
    border:1px dashed #ccc;
    background-color:#246E82;
    color:#FFF;
    text-align: center;
    padding: 5px;
    font-size: 0.8em;
}