-#SH Shows either nothing, an error or an success message
-if message == "negative_price"
  .error
    Price must be positive
-if message == "invalid_item"
  .error
    Invalid item name
-if message == "invalid_price"
  .error
    Your price is not a number
-if message == "success"
  .success
    Item added
-#SH Shows the add item form
%h1 Add Item
%form{:action => "/additem", :method => "POST", :enctype=>"multipart/form-data"}
  %table
    %tr
      %td
        %label
          Name:
      %td
        %label
          Price:
      %td
        %label
          Description:
    %tr
      %td
        %input{:type => "text", :name => "name"}
      %td
        %input{:type => "text", :name => "price"}
      %td
        %textarea{:name => "description", :style => "width:300px; height:150px"}
    %tr
      %td
        %label
          Image:
      %td
        %input(type="file" name="image")
    %tr
      %td
      %td
        %input{:type => "submit"}

