-#SH Shows the add item form
%h1 Add Item
%form{:action => "/add_item", :method => "POST", :enctype=>"multipart/form-data"}
  %input.normal_input{:type => "text", :name => "name", :placeholder => "Name"}
  %br
  %input.normal_input{:type => "text", :name => "price", :placeholder => "Price"}
  %br
  %textarea.normal_input{:name => "description", :style => "width:500px; height:100px", :placeholder => "Description (optional)"}
  %br
  %br
  %label Image (optional):
  %br
  %input{:type=>"file", :name=>"image",  :placeholder => "Image"}
  %br
  %input.normal_input{:type => "submit",:class=>"button_margin", :value => "Add"}

