-#SH Shows the add item form
:javascript
  $(document).ready(function() {
    AnyTime.picker( "datepicker",
        { format: "%d/%M/%Y, %H:%i", firstDOW: 1 } );
    })
%h1 Add Item
- unless @active_user.working_for.nil?
  %p Adding item for organization: #{@active_user.working_for}
%form{:action => "/add_item", :method => "POST", :enctype=>"multipart/form-data"}
  %input.normal_input{:type => "text", :name => "name", :placeholder => "Name"}
  %br
  %input.normal_input{:type => "text", :name => "price", :placeholder => "Price"}
  %br
  %input#datepicker{:type => "text", :name => "endtime", :placeholder => "Valid till"}
  %span.hint If field is empty, the offer will not expire
  %br
  %textarea.normal_input.default_textarea_size{:name => "description", :placeholder => "Description (optional)"}
  %br
  %br
  %label Image (optional):
  %br
  %input{:type=>"file", :name=>"image",  :placeholder => "Image"}
  %br
  %input.normal_input{:type => "submit",:class=>"button_margin", :name=>"action", :value => "Add"}
  %input.normal_input{:type => "submit",:class=>"button_margin", :name=>"action", :value => "Add as a request"}

