-#SH Shows either nothing, an error or an success message
-if message == "negative_price"
  .error
    Price must be positive
-if message == "invalid_item"
  .error
    Invalid item name
-if message == "invalid_price"
  .error
    Your price is not a number
-if message == "success"
  .success
    Item added
-#SH Shows the add item form
%h1 Add Item
%form{:action => "/additem", :method => "POST", :enctype=>"multipart/form-data"}
  %label
    Name*:
  %br
  %input{:type => "text", :name => "name"}
  %br
  %label
    Price*:
  %br
  %input{:type => "text", :name => "price"}
  %br
  %label
    Description:
  %br
  %textarea{:name => "description", :style => "width:500px; height:100px"}
  %br
  %label
    Image:
  %br
  %input{:type=>"file", :name=>"image"}
  %br
  %input{:type => "submit",:class=>"button_margin"}

