%h1 Add Organization
%form{:action => "/organization/add", :method => "POST", :enctype=>"multipart/form-data"}
  %br
  %input.normal_input{:type => "text", :name => "name", :placeholder => "Name"}
  %br
  %br
  %textarea.normal_input.default_textarea_size{:name => "interests", :placeholder => "List of interests (optional)"}
  %br
  %label
    Image:
  %br
  %input{:type=>"file", :name=>"image"}
  %br
  %input.normal_input{:type => "submit",:class=>"button_margin", :value => "Add"}