%h1 Change password
%form{:action => "/change_password", :method => "POST", :enctype=>"multipart/form-data"}
 %label
  Old Password:
 %br
 %input.normal_input{:type => "password", :name => "passwd"}
 %br
 %br
 %label
  New Password:
 %br
 %input.normal_input{:type => "password", :name => "new_passwd"}
 %br
 %label
  New Password again:
 %br
 %input.normal_input{:type => "password", :name => "passwd_repetition"}
 %br
 %br
 %input.normal_input{:type => "submit",:class=>"button_margin"}
