%h1 Change password
%form{:action => "/change_password", :method => "POST", :enctype=>"multipart/form-data"}
 %input.normal_input{:type => "password", :name => "passwd", :placeholder => "Old password"}
 %br
 %input.normal_input{:type => "password", :name => "new_passwd", :placeholder => "New password"}
 %br
 %input.normal_input{:type => "password", :name => "passwd_repetition", :placeholder => "Repeat password"}
 %br
 %br
 %input.normal_input{:type => "submit",:class=>"button_margin"}
