-#AS display if succeeded
-if message == "password_changed"
 .success
  Your password was changed.
-if message == "password_invalid"
 .error
  Your password is not invalid. Password must be at least 8 characters and contain upper- and lowercase characters as well as at least one number.
-if message == "wrong_repetition"
 .error
  The password repetition and the new password have to be identical.
-if message == "wrong_password"
 .error
  You entered the wrong password.
%h1 Change password
%form{:action => "/change_password", :method => "POST", :enctype=>"multipart/form-data"}
 %label
  Old Password:
 %br
 %input{:type => "password", :name => "passwd"}
 %br
 %br
 %label
  New Password:
 %br
 %input{:type => "password", :name => "new_passwd"}
 %br
 %label
  New Password again:
 %br
 %input{:type => "password", :name => "passwd_repetition"}
 %br
 %input{:type => "submit",:class=>"button_margin"}
