:javascript
  $(document).ready(function() {
    Emporium.validate.password($("#new_passwd"), "The password must be at least 6 characters long and contain digits, upper and lower case letters and special character or be at least 10 characters long.");
    Emporium.validate.passwordRepetition($("#new_passwd"), $("#passwd_repetition"));
  });

%h1 Change password
%form{:action => "/change_password", :method => "POST", :enctype=>"multipart/form-data"}
  %input.normal_input{:type => "password", :name => "passwd", :placeholder => "Old password"}
  %br
  %input.normal_input{:id => "new_passwd", :type => "password", :name => "new_passwd", :placeholder => "New password"}
  %br
  %input.normal_input{:id => "passwd_repetition", :type => "password", :name => "passwd_repetition", :placeholder => "Repeat password"}
  %br
  %br
  %input.normal_input{:type => "submit",:class=>"button_margin"}
