-#SH This is the layout template, doctype is html5
!!!5
%head
  %title
    Trade
  -#SH Load css and favicon
  %link{:rel =>"stylesheet", :type =>"text/css", :href => url("css/jquery.powertip.css")}
  %link{:rel => "shortcut icon", :type=>"image/png", :href => url("images/favicon.png")}

  %link{:rel =>"stylesheet", :type =>"text/css", :href => url("css/jquery.powertip.css")}
  %link{:rel=> "stylesheet/less", :type => "text/css", :href => url("css/style.less")}
  %script{:type => "text/javascript", :src => url("js/less-1.3.0.min.js")}

  %script{:type => "text/javascript", :src => url("js/lib/jquery-1.8.2.js")}
  %script{:type => "text/javascript", :src => url("js/lib/jquery.powertip-1.1.0.min.js")}




%body
  #body
    -#SH Shows the logo on top of the page
    #logo
      %img{:src => url("images/logo.png"), :alt => "The site logo"}
    #page
      -#SH The navigation
      #menu
        #head_entry
          %h2 Navigation
        %ul.no_indented
          - if session[:name]
            %li.menu_entry
              %a{:href => url("/")} Home
            %li.menu_entry
              %a{:href => url("/user/#{session[:name]}")} Your profile
            %li.menu_entry
              %a{:href => url("/user")} All users
            %li.menu_entry
              %a{:href => url("/additem")} Add Item
            %li.menu_entry
              %a{:href => url("/change_password")} Change Password
            %li.menu_entry
              %a{:href => url("/logout")} Logout
          - else
            %li.menu_entry
              %a{:href => url("/login")} Login
            %li.menu_entry
              %a{:href => url("/register")} Register
            %li.menu_entry
              %a{:href => url("/reset_password")} Reset Password

      -#SH Here are the other haml files added
      #content
        = yield