%h1 Login
%form{:action => "/login", :method=> "POST"}
  %input.normal_input{:type=>"text", :name=>"username",:placeholder=>"Username"}
  %br
  %input.normal_input#pw{:type=>"password", :name=>"password", :placeholder=>"Password"}
  %br
  %br
  %input.normal_input{:type=>"submit",:class=>"button_margin", :value => "Sign in"}
%a{:href => "/reset_password"} Forgot your password?
|
%a{:href => "/register"} No account? Register here!