:javascript
  $(document).ready(function() {
    Emporium.validate.existing($("#name"),"/user/exists", "User already exists.", "Username must not be empty.");
    Emporium.validate.existing($("#display_name"), "/user/display_name/exists", "Another user has already chosen this displayname!", "Please choose a displayname");
    Emporium.validate.password($("#passwd"), "The password must be at least 6 characters long and contain digits, upper and lower case letters and special character or be at least 10 characters long.");
    Emporium.validate.passwordRepetition($("#passwd"), $("#passwd_repetition"));
    Emporium.validate.regex($("#email"), /^[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/, "Invalid email adress.", false, "Please enter an email adress")
  });

%h1 Add new user
%form{:action=>"/register", :method=>"POST", :enctype=>"multipart/form-data"}

  %input.normal_input{:id => "name", :type=>"text", :name=>"username", :placeholder => "Username"}
  %br
  %input.normal_input{:id => "display_name", :type=>"text", :name=>"display_name", :placeholder => "Displayname"}
  %br
  %input.normal_input{:id => "email", :type=>"email", :name=>"email", :placeholder => "Email"}
  %br
  %input.normal_input{:id => "passwd", :type=>"password", :name=>"passwd", :placeholder => "Password"}
  %br
  %input.normal_input{:id => "passwd_repetition", :type=>"password", :name=>"passwd_repetition", :placeholder => "Repeat password"}
  %br
  %input.normal_input{:id => "street", :type=>"text", :name=>"street", :placeholder => "Street and number (optional)"}
  %br
  %input.normal_input{:id => "postal_code", :type=>"text", :name=>"postal_code", :placeholder => "Postal code (optional)"}
  %br
  %input.normal_input{:id => "city", :type=>"text", :name=>"city", :placeholder => "City (optional)"}
  %br
  %input.normal_input{:id => "country", :type=>"text", :name=>"country", :placeholder => "Country (optional)"}
  %br
  %textarea.normal_input.default_textarea_size{:name => "interests", :placeholder => "List of interests (optional)"}
  %br
  %label
    User image:
  %br
  %input{:type=>"file", :name=>"image"}
  %br
  %br
  %input.normal_input{:type => "submit", :value => "Register"}