-#AS Error messages..
-if message == "password_invalid"
  .error
    Your password is invalid.
-if message == "wrong_repetition"
  .error
    Password and password repetition have to be identical.
-if message == "user_exists"
  .error
    User already exists.
%h1 Add new user
%form{:action=>"/register", :method=>"POST"}
  %table
    %tr
      %td
        %label
        Username*:
      %td
        %input{:type=>"text", :name=>"username"}
    %tr
      %td
        %label
        Email*:
      %td
        %input{:type=>"text", :name=>"email"}
    %tr
      %td
        %label
          Password*:
      %td
        %input{:type=>"password", :name=>"passwd"}
    %tr
      %td
        %label
          Repeat password*:
      %td
        %input{:type=>"password", :name=>"passwd_repetition"}

  %label
    List of interests:
  %br
  %textarea{:name => "interests", :style => "width:500px; height:100px"}
  %br
  %label
    User image:
  %input{:type=>"file", :name=>"image"}
  %br
  %br
  %input{:type => "submit", :value => "Register"}