-#AS Error messages..
-if message == "password_invalid"
  .error
    Your password is invalid.
-if message == "wrong_repetition"
  .error
    Password and password repetition have to be identical.
-if message == "user_exists"
  .error
    User already exists.
%h1 Add new user
%form{:action=>"/register", :method=>"POST"}
  %table
    %tr
      %td
        %label
        Username:
      %td
        %input{:type=>"text", :name=>"username"}
    %tr
      %td
        %label
          Password:
      %td
        %input{:type=>"password", :name=>"passwd"}
    %tr
      %td
        %label
          Repeat password:
      %td
        %input{:type=>"password", :name=>"passwd_repetition"}
    %tr
      %td
      %td
        %input{:type=>"submit", :class=>"button_margin", :value => "Sign up"}