%h1 Add new user
%form( action="/register" method="POST" )
  %table
    %tr
      %td
        %label
        Username:
      %td
        %input(type="text" name="username")
    %tr
      %td
      %td
        %input(type="submit" text="submit")