-#R The form with which you reset your password ;)
-if message
  .error
    #{message}
%h1 Reset Your Password
%form{:action => '/reset_password', :method => "POST"}
  %table
    %tr
      %td
        %label
        Username:
      %td
        %input.normal_input{:type =>"text", :name=>"username"}
    %tr
      %td
      %td
        %input.normal_input{:type=>"submit"}