:javascript
  $(document).ready(function() {
    $("#orgTable")
               .tablesorter({
                       widgets: ['zebra']
               })
               .tablesorterPager({
                       container: $("#orgPager"),
                       positionFixed: false
               });
  })
%h1 All users
%table{:id=>"userTable", :class=>"tablesorter pager"}
  %thead
    %tr
      %th Name
      %th Credits
  %tbody
    - for user in users
      %tr.list
        %td.list
          %a{:href => url("/user/#{user.name}")} #{user.display_name}
        %td.list #{user.credits}
=haml :'partials/pager', :locals => {:pager_id => "userPager"}
