/********************************/
/***********Variables************/
/********************************/

@base-color: #23496B;
@light-gray: #CCC;
@dark-gray: #AAA;
@success-color: #8e8;
@error-color: #f66;
@white: #FFF;
@black: #000;
@inactive-link-color: @base-color + #333;

/********************************/
/********General layout**********/
/********************************/

body {
    background: url(../images/bg_body.png) repeat;
    font-family: Calibri, Verdana, Arial, sans-serif;
}

#content {
    padding: 15px;
    position: relative;
    float: left;
    left: 170px;
    width: 600px;
    overflow: visible;
}

#body {
    margin: 0 auto 0 auto;
    width: 800px;
    position: relative;
}

#logo {
    margin: 10px 0 10px 0;
}

#page {
    background-color: @white;
    min-height: 500px;
    overflow: auto;
}

/********************************/
/**************Menu**************/
/********************************/

#head_entry {
    position: relative;
    padding: 1px;
    vertical-align: bottom;
}

#menu {
    margin-top: 20px;
    padding:0 10px 0 10px;
    position: absolute;
    left: 0;
    float: left;
    width: 150px;
    border-right: 1px solid @base-color;
    top: 235px;
    bottom:15px;
}

li.menu_entry {
    list-style: none outside;
    position: relative;
    border-top: 1px dashed @dark-gray;
    padding: 1px;
}

ul.no_indented{
  padding: 0;
}


/********************************/
/**********General styling*******/
/********************************/


a, a.visited {
    font-size: 1em;
    color: @base-color;
    text-decoration: none;
}

a:hover {
    color: @light-gray;
}

.inactive a{
  color: @inactive-link-color;
}

.inactive a:hover{
  color: @light-gray;
}

h2 {
    color: @base-color;
    margin: 0px;
}

th {
    text-align: left;
}

/********************************/
/*********Button styles**********/
/********************************/


.button_as_link {
    background: none;
    border: none;
    color: @base-color;
    font-size: 1em;
    font-family: Calibri, Verdana, Arial, sans-serif;
}

.inactive .button_as_link{
color: @inactive-link-color;
}

.button_as_link:hover {
    color: @light-gray;
    cursor: pointer;
}

.button_margin{
    margin: 2px 0 0 0;
}

/********************************/
/************Messages************/
/********************************/

.error, .success {
    margin-top: 25px;
    border: solid 1px @black;
    width: 200px;
    padding: 0 0 0 1px;
}

.error{
    background: @error-color;
}

.success {
    background: @success-color;
}

/********************************/
/*********Basic styling**********/
/********************************/

.center {
    text-align: center;
}

.inactive {
    color: @light-gray;
}

.right {
    text-align: right;
}

.list {
    border-top: dashed 1px @light-gray;
}

.padding_left{
    padding-left: 4px;
}

/********************************/
/*********Image styling**********/
/********************************/

.image_float_left{
    float: left;
    padding: 5px;
    margin-right: 5px;
    border-right: 1px solid @base-color;
 }
