@import url("blue-theme.less");
@import url("jquery.datepick.less");
@import url("jquery.powertip.css");
/********************************/
/***********Variables************/
/********************************/

@header-bar-height: 23px;

/********************************/
/********General layout**********/
/********************************/

body {
  background: url(../images/bg_body.png) repeat;
  font-family: Calibri, Verdana, Arial, sans-serif;
  margin: 0;
  background-color: @body-bg-color;
  color: @font-color;
  word-wrap: break-word;
}

textarea, input {
  font-family: Calibri, Verdana, Arial, sans-serif;
  font-size: inherit;
}

#body {
  margin: 170px auto 30px auto;
  width: 900px;
  position: relative;
  z-index: 0;
}

#logo {
  positin: absolute;
  margin: 0 100px;
  font-size: 5em;
  color: @logo-color;
  width: 900px;
  top: 10px;
  a, a:hover {
    color: @logo-color;
  }
}

#search_bar {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
  width: 220px;

  input[type = text] {

    background-position: right center;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    max-width: 150px;
  }

  input {
    margin: 0;
    display: compact;
  }
}

#page {
  background-color: @page-color;
  min-height: 500px;
  overflow: auto;
  padding: 10px;
  margin-bottom: 10px;
}

#content {
  background-color: @content-background-color;
  padding: 15px;
  position: relative;

  min-height: inherit;
  overflow: visible;
}

#box {
  float: right;
  padding-right: 8px;
}

#header {
  background-color: @header-color;
  position: fixed;
  top: 0;
  min-height: 100px;
  width: 100%;
  z-index: 1;
}

#header_bar {
  background-color: @header-bar-color;
  width: 100%;
  height: @header-bar-height+1px;
  bottom: - @header-bar-height;
  position: absolute;
  border-bottom: 1px solid @body-bg-color;
}

#footer {
  @padding: 1px;
  position: relative;
  clear: both;
  width: inherit - 2*@padding;
  background-color: @content-background-color;
  text-align: center;
  padding: @padding;
}

#footer_border {
  width: 880px;
  background-color: @page-color;
  padding: 10px;
}

/********************************/
/**************Menu**************/
/********************************/

#menu {
  margin: 0 auto 0 auto;
  padding: 0 10px 0 10px;
  position: absolute;
  top: 79px;
  right: 0;
  z-index: 2;
  text-align: center;

  li:hover, li a.active_tab, .active_tab {
    background-color: @header-bar-color;
    color: @nav-hover-font;
  }

  li {
    width: 140px;
    display: inline;
    list-style: none;
    position: relative;

    float: left;
    background-color: @nav-background;
    border-top: 1px solid @tab-border-color;
    border-right: 1px solid @tab-border-color;
    border-left: 1px solid @tab-border-color;
    color: @nav-color;
  }
  ul {
    padding: 0;
  }
  a {
    display: block;
    color: @nav-color;
    padding: 0.2em 0.7em;
  }
  li:hover a {
    color: @nav-hover-font;
  }
  li.sublink {
    width: 100%;
    display: block;
    border-right: none;
    border-left: none;
    padding-top: 3px;
    padding-bottom: 3px;

    a{
      padding: 0;
      color: @nav-color;
    }

    a:hover{
      color: @nav-hover-font;
    }
  }

  li.sublink a.active_tab, li.headlink:hover {
    background-color: @header-bar-color;

  }

  li.headlink {
    display: block;
    color: @nav-color;
    margin: 0;
    background-image: url(../images/dropdown.png);
    background-repeat: no-repeat;
    background-position: right top;

    p{
      margin: 0;
      padding: 0.2em 0.7em;
    }

    ul {
      display: none;
    }

    &:hover ul {
      display: block;
    }
  }
}

/********************************/
/**********General styling*******/
/********************************/

a, a.visited {
  font-size: 1em;
  color: @base-color;
  text-decoration: none;
}

a:hover {
  color: @light-gray;
}

.inactive a {
  color: @inactive-link-color;
}

.inactive a:hover {
  color: @light-gray;
}

h2 {
  color: @base-color;
  margin: 0px;
  margin-top: 15px;
}

.no-margin {
  margin: 0px;
}

th {
  text-align: left;
}

.normal_input {
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid @input-border-color;
  background-color: lighten(@header-bar-color, 20%);
}

.normal_input_right {
  -moz-box-shadow: none;
  box-shadow: none;
  float: right;
  border: 1px solid @input-border-color;
  background-color: lighten(@header-bar-color, 20%);
}

input {
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid @input-border-color;
  background-color: lighten(@header-bar-color, 20%);
  margin-bottom: 5px;
}

.price_column {
  min-width: 50px;
}

.default_textarea_size {
  height: 100px;
  width: 500px;
}

.inline{
  display: inline;
}

/********************************/
/*********Table styles**********/
/********************************/

table.tablesorter {
  width: 100%;
  text-align: left;

  thead tr {
    th {
      background-color: @nav-background;
    }

    .header {
      background-image: url(../images/tablesort/bg.gif);
      background-repeat: no-repeat;
      background-position: center right;
      cursor: pointer;
    }
    .headerSortUp {
      background-image: url(../images/tablesort/asc.gif);
    }
    .headerSortDown {
      background-image: url(../images/tablesort/desc.gif);
    }
    .headerSortDown, .headerSortUp {
      background-color: @header-bar-color;
    }
  }
  tbody {
    tr.odd td {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.pager {
  padding-top: 5px;
  text-align: center;

  span {
    padding: 0 5px 0 5px;
  }
  img {
    cursor: pointer;
    .prev {
      width: auto;
      margin-right: 10px;
    }
    .next {
      width: auto;
      margin-left: 10px;
    }
  }

  }
.pagerinput {
  width: 50px;
  text-align: center;
}

/********************************/
/*********Button styles**********/
/********************************/

.button_as_link {
  background: none;
  border: none;
  color: @base-color;
  font-size: 1em;
  font-family: Calibri, Verdana, Arial, sans-serif;
  width: auto;
}

.inactive .button_as_link {
  color: @inactive-link-color;
}

.button_as_link:hover {
  color: @light-gray;
  cursor: pointer;
}

.button_margin {
  margin: 2px 0 0 0;
}

/********************************/
/************Messages************/
/********************************/

.error, .success {
  margin-top: 25px;
  border: solid 1px @black;
  width: 100%;
  padding: 0 0 0 1px;
  text-align: center;
}

.error {
  background: @error-color;
}

.success {
  background: @success-color;
}

/********************************/
/********Item Description********/
/********************************/

#prev_desc {
    padding: 5px 0px;
    display: block;
    float:left;
    cursor: pointer;
}

#next_desc {
    padding: 5px 0px;
    display: block;
    float: right;
    cursor: pointer;
}

#description_info {
    width: 500px;
}

.clearer {
    clear : both;
}


/********************************/
/*********Basic styling**********/
/********************************/

.center {
  text-align: center;
}

.inactive {
  color: @light-gray;
}

.right {
  text-align: right;
}

.list {
  border-top: dashed 1px @light-gray;
  text-align: left;
}

.padding_left(@value: 4px) {
  padding-left: @value;
}

.padding_right(@value: 4px) {
  padding-right: @value;
}

.no-list-style {
  list-style: none;
}

.hint {
  font-style: italic;
  color: @dark-gray;
}

/********************************/
/*********Image styling**********/
/********************************/

.image_float_left {
  float: left;
  padding: 5px;
  margin-right: 5px;
  border-right: 1px solid @base-color;
}

.image_float_right {
  float: right;
  padding: 5px;
  margin-right: 5px;
}

.image_margin {
  margin: 5px;
}

/********************************/
/**************Mixins************/
/********************************/

.grey_dashed_border(all) {
  border: 1px dashed @light-gray;
}

.grey_dashed_border(top) {
  border-top: 1px dashed @light-gray;
}

.grey_dashed_border(right) {
  border-right: 1px dashed @light-gray;
}

.grey_dashed_border(bottom) {
  border-bottom: 1px dashed @light-gray;
}

.grey_dashed_border(left) {
  border-left: 1px dashed @light-gray;
}


input.err {
    border: 1px solid #ff0000;
    color: #ff0000;
}

span.err {
    color: #ff0000;
}

#tags {
 margin-top: 10px;
}

span.tag_button {
    cursor: pointer;
    border: 1px solid #000000;
}

span.tag {
   padding: 4px;
   border: 1px dashed #000000;
   margin-right: 5px;

}